@charset "UTF-8";
.contenedor .contenedor-tarjeta {
  display: inline-block;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 0px 10px #0f101a;
  border-radius: 5px;
  width: 170px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  overflow: hidden;
}
.contenedor .contenedor-tarjeta .tarjeta-img {
  width: 160px;
  cursor: pointer;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo {
  font-family: poppins;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: roboto;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .precio {
  color: rgb(73, 73, 73);
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito {
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(25, 90, 95);
  margin: 3px;
  font-family: roboto;
  cursor: pointer;
  transition: 0.2s;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito:hover {
  transform: scale(1.1);
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito span {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.carrito-cuerpo {
  background-color: #0f101a;
}
.carrito-cuerpo .vista {
  height: 100vh;
}
.carrito-cuerpo .vista .carrito__encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito-cuerpo .vista .carrito__encabezado .carrito-logo {
  width: 200px;
}
.carrito-cuerpo .vista .carrito__encabezado .carrito-enlace {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.carrito-cuerpo .vista .carrito__encabezado .carrito-enlace-2 {
  color: rgb(73, 73, 73);
}
.carrito-cuerpo .vista .tarjeta__primaria {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  border-radius: 7px;
}
.carrito-cuerpo .vista .tarjeta__primaria .primaria-micarrito {
  text-align: center;
  margin: 10px 0px;
}
.carrito-cuerpo .vista .tarjeta__primaria .primaria-tabla {
  background-color: rgb(25, 90, 95);
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}
.carrito-cuerpo .vista .tarjeta__primaria .primaria-tabla thead {
  background-color: rgb(30, 53, 80);
}
.carrito-cuerpo .vista .tarjeta__primaria .primaria-tabla thead th {
  border-radius: 5px;
  border: 1px groove white;
  color: white;
}
.carrito-cuerpo .vista .tarjeta__primaria .primaria-tabla .i-number {
  width: 25px;
}
.carrito-cuerpo .vista .tarjeta__secundaria {
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 7px;
}
.carrito-cuerpo .vista .tarjeta__secundaria .secundaria-img {
  text-align: center;
  margin: 10px;
}
.carrito-cuerpo .vista .tarjeta__secundaria .secundaria-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carrito-cuerpo .vista .tarjeta__secundaria .secundaria-btn button {
  background-color: rgb(25, 90, 95);
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/*Responsive en tablet*/
@media (min-width: 650px) {
  .carrito-cuerpo .vista {
    height: 100vh;
  }
  .carrito-cuerpo .vista .tarjeta__primaria {
    background-color: white;
    border-radius: 7px;
    margin: 15px;
  }
  .carrito-cuerpo .vista .tarjeta__primaria .primaria-micarrito {
    text-align: start;
    margin: 15px;
  }
  .carrito-cuerpo .vista .tarjeta__primaria .primaria-tabla {
    border-radius: 5px;
    margin: 10px;
  }
  .carrito-cuerpo .vista .tarjeta__secundaria {
    border-radius: 7px;
    margin: 15px;
  }
  .carrito-cuerpo .vista .tarjeta__secundaria .secundaria-img {
    margin: 20px;
  }
  .carrito-cuerpo .vista .tarjeta__secundaria .secundaria-img img {
    width: 80px;
  }
  .carrito-cuerpo .vista .tarjeta__secundaria .secundaria-btn button {
    font-size: 15px;
  }
}
/*Responsive en PC*/
@media (min-width: 1200px) {
  .carrito-cuerpo {
    background-color: #0f101a;
  }
  .carrito-cuerpo .vista {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .carrito-cuerpo .vista .carrito__encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  .carrito-cuerpo .vista .carrito__encabezado .carrito-logo {
    width: 320px;
    cursor: pointer;
  }
  .carrito-cuerpo .vista .carrito__encabezado .carrito-logo:hover {
    transform: scale(1.1);
  }
  .carrito-cuerpo .vista .carrito__encabezado .carrito-enlace {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  .carrito-cuerpo .vista .main__tarjetas {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .carrito-cuerpo .vista .main__tarjetas .tarjeta__primaria {
    width: 70%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(30, 53, 80);
  }
  .carrito-cuerpo .vista .main__tarjetas .tarjeta__secundaria {
    width: 30%;
    margin: 25px 0px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgb(30, 53, 80);
  }
  .carrito-cuerpo .vista .main__tarjetas .tarjeta__secundaria .secundaria-img img {
    width: 40px;
    cursor: pointer;
  }
  .carrito-cuerpo .vista .main__tarjetas .tarjeta__secundaria .secundaria-img img:hover {
    transform: scale(1.2);
  }
  .carrito-cuerpo .vista .main__tarjetas .tarjeta__secundaria .secundaria-btn button {
    cursor: pointer;
  }
}
@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Encabezado*/
.encabezado {
  text-align: center;
  background-color: #0f101a;
}
.encabezado .encabezado__logo {
  width: 10em;
  margin-top: 5px;
  cursor: pointer;
}
.encabezado .encabezado__logo:hover {
  transform: scale(1.1);
}
.encabezado .encabezado__buscador {
  padding: 10px;
}
.encabezado .encabezado__buscador .buscador-barra {
  width: 150px;
}
.encabezado .encabezado__buscador .lupa {
  display: none;
  color: white;
  margin: 0px 5px;
  cursor: pointer;
}
.encabezado .encabezado__buscador .buscador-btn {
  border: none;
  background-color: #0f101a;
  color: white;
  font-size: 16px;
  padding: 4px;
  font-family: poppins;
  border-radius: 3px;
  margin: 0px 5px;
  cursor: pointer;
  transition: 0.2s;
}
.encabezado .encabezado__buscador .buscador-btn:hover {
  background-color: #0f101a;
}
.encabezado .encabezado__buscador .buscador-carrito {
  color: white;
  text-decoration: none;
  font-size: 16px;
  /*background-color: $boton0;*/
  padding: 4px;
  font-family: poppins;
  border-radius: 3px;
  transition: 0.2s;
}
.encabezado .encabezado__buscador .buscador-carrito:hover {
  background-color: #0f101a;
}

/*Navegador*/
.navegador {
  background-color: rgb(90, 15, 15);
  box-shadow: 0px 0px 5px;
  text-align: center;
}
.navegador .navegador__menu {
  color: white;
  font-size: 25px;
}
.navegador .navegador__lista {
  display: none;
  text-align: center;
}
.navegador .navegador__lista li {
  list-style: none;
  padding: 10px;
}
.navegador .navegador__lista li .lista-producto {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: poppins;
  text-align: center;
  list-style: none;
  position: relative;
}
.navegador .navegador__lista li .lista-producto:hover::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 2px;
  animation-name: ampliar-subrayado;
  animation-duration: 0.3s;
}
.navegador .navegador__check {
  display: none;
}
.navegador .navegador__check:checked + .navegador__lista {
  display: block;
}

/*Nombre de la página e introducción*/
.introduccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-family: poppins;
}
.introduccion .introduccion-animacion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30PX;
  width: 300px;
  animation-name: escribiendo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  white-space: nowrap;
  overflow: hidden;
}

/*Categoria de los productos*/
.categoria {
  display: flex;
  justify-content: center;
  font-family: poppins;
  color: white;
  font-size: 20px;
  margin: 20px;
  background-color: rgb(90, 15, 15);
  border-radius: 10px;
  padding: 10px 0px;
}
.categoria h2 {
  cursor: pointer;
  transition: 0.5s;
}
.categoria h2:hover::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 2px;
  animation-name: ampliar-subrayado;
  animation-duration: 0.5s;
}
.categoria h2:hover {
  transform: scale(1.2);
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Pié de página*/
footer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "sn rs" "f f";
  background-color: #0f101a;
  font-family: poppins;
}
footer div {
  padding: 20px;
  text-align: center;
  color: white;
}
footer div h5 {
  font-size: 20px;
}
footer #sn {
  grid-area: sn;
}
footer #rs {
  grid-area: rs;
}
footer #copy {
  grid-area: f;
  color: rgb(73, 73, 73);
  margin-top: 100px;
}

/*Animaciones*/
@keyframes ampliar-subrayado {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes escribiendo {
  0% {
    width: 0px;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 0px;
  }
}
/*Responsive tablet*/
@media (min-width: 650px) {
  .encabezado .encabezado__buscador .lupa {
    display: inline-block;
  }
  .contenedor .contenedor-tarjeta {
    display: flex;
    width: 250px;
    margin: 10px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-img {
    width: 200px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito {
    padding: 3px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito span {
    display: inline;
  }
  footer #copy {
    margin-top: 50px;
  }
}
/*Responsive PC*/
@media (min-width: 1200px) {
  .encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .encabezado .encabezado__buscador {
    background-color: rgb(30, 53, 80);
    border-radius: 5px;
    padding: 15px;
  }
  .encabezado .encabezado__buscador .lupa {
    display: inline-block;
  }
  .encabezado .encabezado__buscador .buscador-barra {
    width: 200px;
  }
  .encabezado .encabezado__buscador .buscador-btn {
    background-color: rgb(30, 53, 80);
  }
  .navegador .navegador__menu {
    display: none;
  }
  .navegador .navegador__lista {
    display: flex;
    justify-content: space-around;
  }
  .introduccion .introduccion-texto {
    width: 1150px;
  }
  .contenedor {
    margin: 50px 0px;
  }
  footer #copy {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
