@charset "UTF-8";
.contenedor .contenedor-tarjeta {
  display: inline-block;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 0px 10px #0f101a;
  border-radius: 5px;
  width: 170px;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
.contenedor .contenedor-tarjeta .tarjeta-img {
  width: 160px;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo {
  font-family: poppins;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .precio {
  color: rgb(73, 73, 73);
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito {
  padding: 8px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(25, 90, 95);
  margin: 3px;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito span {
  display: none;
}

@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(/fonts/roboto/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Encabezado*/
.encabezado {
  text-align: center;
  background-color: #0f101a;
}
.encabezado .encabezado__logo {
  width: 10em;
}
.encabezado .encabezado__buscador {
  padding: 10px;
}
.encabezado .encabezado__buscador .buscador-btn {
  border: none;
  background-color: rgb(42, 72, 107);
  color: white;
  font-size: 16px;
  padding: 4px;
  font-family: roboto;
  border-radius: 5px;
  margin: 0px 5px;
}
.encabezado .encabezado__buscador .buscador-carrito {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: rgb(42, 72, 107);
  padding: 4px;
  font-family: roboto;
  border-radius: 5px;
}

/*Navegador*/
.navegador {
  background-color: rgb(90, 15, 15);
  text-align: center;
}
.navegador .navegador__menu {
  color: white;
  font-size: 25px;
}
.navegador .navegador__lista {
  display: none;
  text-align: center;
}
.navegador .navegador__lista li {
  list-style: none;
  padding: 10px;
}
.navegador .navegador__lista li .lista-producto {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: poppins;
  text-align: center;
  list-style: none;
}
.navegador .navegador__check {
  display: none;
}
.navegador .navegador__check:checked + .navegador__lista {
  display: block;
}

/*Nombre de la página e introducción*/
.introduccion {
  text-align: center;
  margin: 15px;
  font-family: poppins;
}

/*Categoria de los productos*/
.categoria {
  font-family: poppins;
  color: rgb(73, 73, 73);
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Responsive tablet*/
@media (min-width: 650px) {
  .contenedor .contenedor-tarjeta {
    display: flex;
    width: 250px;
    margin: 10px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-img {
    width: 200px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito {
    padding: 3px;
  }
  .contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito span {
    display: inline;
  }
}
/*Responsive PC*/
@media (min-width: 1200px) {
  .encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .encabezado .buscador-barra {
    width: 200px;
  }
  .navegador .navegador__menu {
    display: none;
  }
  .navegador .navegador__lista {
    display: flex;
    justify-content: space-around;
  }
  .contenedor {
    margin: 50px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
