*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.carrito-cuerpo{
    background-color: $color-fondo;
    .vista{
        height: 100vh;
        .carrito__encabezado{
            display: flex;
            flex-direction: column;
            align-items: center;
            .carrito-logo{
                width: 200px;
            }
            .carrito-enlace{
                text-decoration: none;
                color: white;
                font-size: 30px;
            }
            .carrito-enlace-2{
                color: $gris;

            }
        }
        .tarjeta__primaria{
            background-color: white;
            display: flex;
            flex-direction: column;
            margin: 10px 10px;
            border-radius: 7px;
    
            .primaria-micarrito{
                text-align: center;
                margin: 10px 0px;
            }
            .primaria-tabla{
                background-color: $boton1;
                text-align: center;
                border-radius: 5px;
                margin: 10px;
    
                thead{
                    background-color: $boton0;
                    th{
                        border-radius: 5px;
                        border: 1px groove white;
                        color: white;
                    }
                }
                .i-number{
                    width: 25px;
                }
            }
        }
        .tarjeta__secundaria{
            background-color: white;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            border-radius: 7px;
            
            .secundaria-img{
                text-align: center;
                margin: 10px;
            }
            .secundaria-btn{
                display: flex;
                justify-content: space-around;
                align-items: center;
                button{
                    background-color: $boton1;
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    color: white;
                }
            }
        }
    }
}
                                                         /*Responsive en tablet*/
@media (min-width:650px){
    .carrito-cuerpo{
        
        .vista{
            height: 100vh;
            .tarjeta__primaria{
                background-color: white;
                border-radius: 7px;
                margin: 15px;
        
                .primaria-micarrito{
                    text-align: start;
                    margin:  15px;
                }
                .primaria-tabla{
                    border-radius: 5px;
                    margin: 10px;
                }
            }
            .tarjeta__secundaria{
                border-radius: 7px;
                margin: 15px;
                
                .secundaria-img{
                    margin: 20px;
                    img{
                        width: 80px;
                    }
                }
                .secundaria-btn{
                    button{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
                                                       /*Responsive en PC*/
@media (min-width:1200px){
    .carrito-cuerpo{
        background-color: $color-fondo;
        .vista{
            height: 100vh;
            display: flex;
            align-items: center;
            .carrito__encabezado{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 15px;
                .carrito-logo{
                    width: 320px;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .carrito-enlace{
                    text-decoration: none;
                    color: white;
                    font-size: 30px;
                }
            }
            .main__tarjetas{
                display: flex;
                align-items: center;
                margin: 10px;
                .tarjeta__primaria{
                    width: 70%;
                    padding: 20px;
                    box-shadow: 0px 0px 15px $boton0;
                }
                .tarjeta__secundaria{
                    width: 30%;
                    margin: 25px 0px;
                    padding: 15px;
                    box-shadow: 0px 0px 15px $boton0;
                    .secundaria-img{
                        img{
                            width: 40px;
                            cursor: pointer;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                    .secundaria-btn{
                        button{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
