$color-rojo-fuerte:rgb(90, 15, 15);
$color-fondo: #0f101a;
$boton0: rgb(30, 53, 80);
$boton1: rgb(25, 90, 95);
$gris:rgb(73, 73, 73);
@import "tarjeta";
@import "carrito";

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                                          /*Encabezado*/
.encabezado{
    text-align: center;
    background-color: $color-fondo;
    .encabezado__logo{
        width: 10em;
        margin-top: 5px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
    .encabezado__buscador{
        padding: 10px;
        .lupa{
            display: none;
            color: white;
            margin: 0px 5px;
            cursor: pointer;
        }
        .buscador-btn{
            border: none;
            background-color: $boton0;
            color: white;
            font-size: 16px;
            padding: 4px;
            font-family: poppins;
            border-radius: 3px;
            margin: 0px 5px;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                background-color: $color-fondo;
            }
        }
        .buscador-carrito{
            color: white;
            text-decoration: none;
            font-size: 16px;
            background-color: $boton0;
            padding: 4px;
            font-family: poppins;
            border-radius: 3px;
            transition: 0.2s;
            &:hover{
                background-color: $color-fondo;
            }
        }
    }
}
                                                           /*Navegador*/ 
.navegador{
    background-color: $color-rojo-fuerte;
    box-shadow: 0px 0px 5px;
    text-align: center;
    .navegador__menu{
        color: white;
        font-size: 25px;
    }
    .navegador__lista{
        display: none;
        text-align: center;
        
        li{
            list-style: none;
            padding: 10px;
            .lista-producto{
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-family: poppins;
                text-align: center;
                list-style: none;
                position: relative;
                &:hover::before{
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    border-radius: 2px;
                    animation-name: ampliar-subrayado;
                    animation-duration: 0.3s;
                }
            }
        }
    }
    .navegador__check{
        display: none;
        &:checked + .navegador__lista{
            display: block;
        }
    }
}
                                                          /*Nombre de la página e introducción*/
.introduccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    font-family: poppins;
    .introduccion-animacion{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30PX;
        width: 300px;
        animation-name: escribiendo;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        white-space: nowrap;
        overflow: hidden;
    }
}
                                                          /*Categoria de los productos*/
.categoria{ 
    display: flex;
    justify-content: center;
    font-family: poppins;
    color: white;
    font-size: 20px;
    margin: 20px;
    background-color: $color-rojo-fuerte;
    border-radius: 10px;
    padding: 10px 0px;
    h2{
        cursor: pointer;
        transition: 0.5s;
        &:hover::before{
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0;
            background-color: white;
            border-radius: 2px;
            animation-name: ampliar-subrayado;
            animation-duration: 0.5s;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
                                                               /*Pié de página*/
footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "sn rs"
    "f f";
    background-color: $color-fondo;
    font-family: poppins;

    div{
        padding: 20px;
        text-align: center;
        color: white;
        h5{
            font-size: 20px;
        }
    }
    #sn{
        grid-area: sn;
    }
    #rs{
        grid-area: rs;
    }
    #copy{
        grid-area: f;
        color: $gris;
        margin-top: 100px;
    }
}
                                                               /*Animaciones*/
@keyframes ampliar-subrayado {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
    
}
@keyframes escribiendo {
    0%{
        width: 0px;
    }
    50%{ 
        width: 300px;

    }
    100%{
        width: 0px;
    }
    
}
                                                                  /*Responsive tablet*/
@media (min-width:650px){
    .encabezado{
        .encabezado__buscador{
            .lupa{
                display: inline-block;
            }
        }
    }
    .contenedor{
        .contenedor-tarjeta{
            display: flex;
            width: 250px;
            margin: 10px;
            .tarjeta-img{
                width: 200px;
            }
            .tarjeta-cuerpo{
                .precio-btn{
                    .boton-carrito{
                        padding: 3px;

                        span{
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    footer{
        #copy{
            margin-top: 50px;
        }
    }
}
                                                                    /*Responsive PC*/
@media (min-width:1200px){
    .encabezado{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .encabezado__buscador{
            .lupa{
                display: inline-block;
            }
            background-color: $boton0;
            border-radius: 5px;
            padding: 15px;
            .buscador-barra{
                width: 200px;
            }
        }
    }

    .navegador{

        .navegador__menu{
            display: none;
        }
        .navegador__lista{
            display: flex;
            justify-content: space-around;
        }
    }
    .introduccion{

        .introduccion-texto{
            width: 1150px;
        }
    }
    .contenedor{
        margin: 50px 0px;
    }
    footer{
        #copy{
            margin-top: 0px;
        }
    }
}