$color-rojo-fuerte:rgb(90, 15, 15);
$color-fondo: #0f101a;
$boton: rgb(25, 90, 95);
$gris:rgb(73, 73, 73);
@font-face {
    font-family: poppins;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/fonts/roboto/Roboto-Medium.ttf);
}